<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>怎么获得积分?</string>
		<key>texts</key>
		<array>
			<string>1.第一次注册奖励100积分</string>
			<string>2.每次点赞可以获得1个积分点</string>
			<string>3.每日登陆可以获得3个积分点</string>
			<string>4.转发内容至其他平台可以获得5个积分点</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>积分规则?</string>
		<key>texts</key>
		<array>
			<string>①每日登陆可获得积分上限为6个积分点（即当日登陆2次，可获得6个积分点）</string>
			<string>②每日可获得积分上限为50个积分点（包括点赞、登陆、转发所获积分点总和），每日积分点达到50个后，当日不再获得额外积分点</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>积分福利是什么？</string>
		<key>texts</key>
		<array>
			<string>积分说明：积分可进行福利兑换，积分累计越多，可兑换福利的价值就越高；兑换说明：用户所获积分，之后可以进入积分商城，兑换同积分的精美礼品</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>如何新增、编辑和删除收货地址？</string>
		<key>texts</key>
		<array>
			<string>方式1：在首页底部点击【我的】，再点击【我的收货地址】进入收货地址页</string>
			<string>方式2：选择商品后在购物车页，点击地址进入收货地址页</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>如何认证？认证要求是什么？</string>
		<key>texts</key>
		<array>
			<string>1.针对生活、植物、家装、美食、旅行等方面有极大的兴趣和写作热情，并能长期撰写文章</string>
			<string>2.文章贴近生活，内容形式不限，文字、图片均可</string>
			<string>3.文章内容要求为原创</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>认证福利?</string>
		<key>texts</key>
		<array>
			<string>1.首页开放个人专栏，成为花田小憩APP专栏入驻者，与10万+花友分享你的生活</string>
			<string>2.花田小憩官方身份认证</string>
			<string>3.专栏作家的优秀作品入选专栏排行榜，即获花田小憩独家定制的神秘礼品</string>
			<string>4.入驻者可将自有优质产品（植物、花礼、工具类等相关产品），置于花田小憩电商平台进行售卖</string>
			<string>5.“城市微光”版面专访</string>
			<string>6.免费海外游学、大量媒体曝光、书籍出版，你想到的一切都将在这里得到实现</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>如何联系我们？</string>
		<key>texts</key>
		<array>
			<string>通过下方邮箱，发送你的姓名、电话、作品（原创图文3篇），经花田小憩海选后，你将有机会成为花田小憩的“专栏入驻者”.
</string>
			<string>报 名 邮 箱 ：huatianxiaoqi@htxq.net</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>关于我们</string>
		<key>texts</key>
		<array>
			<string>花田小憩希望给所有喜欢植物和美学的人们，带来的不单纯是花的美丽。更想通过花草与时间的叠加，营造一个你所期待的生活方式。无论是幸福、浪漫、温馨还是喜悦，我们更着重于制造一份美学标准的生活态度。</string>
		</array>
	</dict>
	<dict>
		<key>title</key>
		<string>免责声明</string>
		<key>texts</key>
		<array>
			<string>对于故意套单、恶意索赔等违反诚实信用原则的行为，花田小憩有权取消订单、作废对应优惠及拒绝相关的无理赔偿。</string>
		</array>
	</dict>
</array>
</plist>
