<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>0</string>
		<key>name</key>
		<string>张惠君</string>
		<key>telphone</key>
		<string>13312546620</string>
		<key>province_id</key>
		<string>1</string>
		<key>province_name</key>
		<string>上海</string>
		<key>city_id</key>
		<string>2</string>
		<key>city_name</key>
		<string>上海市</string>
		<key>address</key>
		<string>澳门路519弄华生大厦</string>
		<key>isnew</key>
		<string>1</string>
		<key>version</key>
		<string>2</string>
		<key>addr_for_dealer</key>
		<string>华生大厦2号楼11楼</string>
		<key>gender</key>
		<string>2</string>
	</dict>
	<dict>
		<key>id</key>
		<string>1</string>
		<key>name</key>
		<string>王建国</string>
		<key>telphone</key>
		<string>13812345678</string>
		<key>province_id</key>
		<string>1</string>
		<key>province_name</key>
		<string>广东</string>
		<key>city_id</key>
		<string>2</string>
		<key>city_name</key>
		<string>深圳市</string>
		<key>address</key>
		<string>世外桃源创意园</string>
		<key>isnew</key>
		<string>1</string>
		<key>version</key>
		<string>2</string>
		<key>addr_for_dealer</key>
		<string>世外桃源创意园</string>
		<key>gender</key>
		<string>1</string>
	</dict>
	<dict>
		<key>id</key>
		<string>2</string>
		<key>name</key>
		<string>蛋蛋</string>
		<key>telphone</key>
		<string>13160911234</string>
		<key>province_id</key>
		<string>1</string>
		<key>province_name</key>
		<string>湖南</string>
		<key>city_id</key>
		<string>2</string>
		<key>city_name</key>
		<string>长沙市</string>
		<key>address</key>
		<string>潇湘中路283号</string>
		<key>isnew</key>
		<string>1</string>
		<key>version</key>
		<string>2</string>
		<key>addr_for_dealer</key>
		<string>西水井胡同1号</string>
		<key>gender</key>
		<string>2</string>
	</dict>
</array>
</plist>
